/FarmGame/Library
/FarmGame/Logs
/FarmGame/obj
/FarmGame/Temp
/FarmGame/Assembly-CSharp-Editor.csproj
/FarmGame/Assembly-CSharp-firstpass.csproj
/FarmGame/Assembly-CSharp.csproj
/dll
/FarmGame/.vs/FarmGame/v16/.suo